* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  background-color: antiquewhite;
}
.container {
  width: 60%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 50px;
}
.login-left {
  width: 50%;
  background-color: #fff;
  padding: 0px 10px;
}
.login-right {
  width: 50%;
  background-color: crimson;
}
.login-left h3 {
  margin-top: 80px;
  text-align: center;
}
.icon-login {
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 1px solid rgb(139, 139, 139);
}
.logo-container {
  display: flex;
  justify-content: center;
  margin: 40px 0px 20px 0px;
}
.login-left p,
a {
  text-align: center;
  display: block;
}
.login-left a {
  margin-top: 30px;
}
.login-left input {
  display: block;
  /* width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px; */
  width: 100%;
  padding: 5px 10px;
  color: rgb(14, 14, 16);
  border: 2px solid #dee1e2;
  height: 40px;
  outline: none;
  margin: 10px 0px;
}
.login-left input:focus {
  border-color: #9147ff;
}
.btn-login {
  display: flex;
  justify-content: center;
}
.btn-login button {
  border-radius: 50px;
  padding: 10px 14px;
  min-width: 160px;
  cursor: pointer;
  outline: none;
  background-color: crimson;
  border: 1px solid transparent;
  margin-top: 40px;
  margin-bottom: 80px;
}
.btn-login button:hover {
  background-color: rgb(189, 10, 46);
}
.login-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}
.login-right h3 {
  color: white;
  margin-bottom: 20px;
}
