<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"
            integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"
            integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
    </head>

    <body>
        <div class="container d-flex justify-content-center">
            <div class="w-50 mt-4">
                <h3>Welcome codegym!</h3>
                <div class="row">
                    <div class="col-4">
                        <h3>Tính toán:</h3>
                    </div>
                    <div class="col-8">
                        <div class="row mb-2">
                            <label class="col-4" for="">Nhập a:</label>
                            <div class="col-8">
                                <input
                                    class="col-6 form-control"
                                    placeholder="Nhập a"
                                />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="col-4" for="">Nhập b:</label>
                            <div class="col-8">
                                <input
                                    class="col-6 form-control"
                                    placeholder="Nhập b"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-4 d-flex">
                                <button class="btn btn-primary w-25 me-2">
                                    Cộng
                                </button>
                                <button class="btn btn-danger w-25 me-2">
                                    Trừ
                                </button>
                                <button class="btn btn-warning w-25 me-2">
                                    Nhân
                                </button>
                                <button class="btn btn-dark w-25 me-2">
                                    Chia
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <h6>Copy right by Quang Đặng Codegym</h6>
            </div>
        </div>
    </body>
</html>
